.container {
    background-image: url("/wallpaper.png");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 2rem;
    background-attachment: fixed;
}

.title {
    font-family:'Fantasy';
    font-size: 4rem;
    text-align: center;
    margin: 2rem;
    color: #ff009d;
    text-shadow: 3px 1px 1px rgba(255, 171, 242, 0.881);
    font-weight: bold;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.input {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #ff3c9e;
    border: 1px solid #ff3b9dce;
    backdrop-filter: blur(4px);
    outline: none;
    transition: all 0.3s ease;
}

.input::placeholder {
    color: rgb(235, 235, 235);
}

.input:focus {
    border-color: #ff0080;
    box-shadow: 0 0 10px rgb(234, 0, 255);
}

.buttonSearch,
.buttonReset,
.buttonNav {
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 12px rgba(242, 0, 255, 0.2);
    color: white;
}

.buttonSearch {
    background: linear-gradient(135deg, #ff6ec7, #ff6ec7);
}

.buttonReset {
    background: linear-gradient(135deg, #ff6ec7, #ff6ec7);
}

.buttonNav {
    background: linear-gradient(135deg,  #ff30b0,  #ff30b0);
}
.buttonNav:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgb(255, 0, 200);
}

.buttonNav:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgb(255, 0, 208);
}

.buttonNav:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

.pageIndicator {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(255, 190, 245);
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 0, 195, 0.505);
}

.loading {
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    margin-top: 2rem;
}

.notFound {
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 0, 204);
    margin-top: 4rem;
    text-shadow: 1px 1px 3px black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.navControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
}

.loaderWrapper {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.loaderWrapper.hidden {
    opacity: 0;
    pointer-events: none;
}