.card {
    width: 300px;
    height: 365px;
    padding: 1.5rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    color: white;
}

.card:hover {
    transform: scale(1.05);
    box-shadow:  0 10px 25px rgba(0, 0, 0, 0.25);
}

.avatar {
    width: 125px;
    border-radius: 50%;
    border: rgb(0, 0, 0) 3px solid;
}

.title {
    margin: 10px 0 5px;
    font-size: 20px;
}